body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Avenir', 'sans-serif';
}

.container {
    margin-top: 50px;
}

#logo {
    width: 400px;
    height: 400px;
}

#resume {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 7px 10px;
    border-radius: 40px;
}

#resume:hover {
    background-color: #782048bb;
}

#social-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#social-image {
    max-width: 40px;
    max-height: 40px;
    padding: 20px;
}